<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<form th:action="@{/student/add}" th:object="${student}" method="POST">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="name">Name</label>
        <textarea  id="name" th:field="*{name}" ></textarea>
        <!--<ul>-->
            <!--<li th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>-->
        <!--</ul>-->
    </div>
    <div >
        <label for="group">Group</label>
        <select id="group" th:field="*{group}">
            <option th:each="group : ${groups}"
                    th:value="${group}"
                    th:text="${group.faculty} ${group.number}"></option>
        </select>
    </div>
    <div >
        <label for="date">date</label>
        <textarea id="date" th:field="*{date}" ></textarea>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>