<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<div th:fragment="content">
    <div>
        <p th:text="${student.name}"></p>
    </div>

    <div >
        <a th:href="@{group/{id}(id=${student.group.id})}" th:text="${student.group.faculty}"></a>
    </div>

    <div>
      <p th:text="${student.date}"></p>
    </div>

    <div>
        <div>
            <button type="button" th:href="@{/student/{id}/edit(id=${student.id})}">Edit</button>
            <button type="button" th:href="@{/student/{id}/delete(id=${student.id})}">Delete</button>
        </div>
    </div>
</div>
</body>
</html>