<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div>
        <h2 class="header-2">Faculty&#8758; <b class="header-2" th:text="${group.faculty}"> </b></h2>
    </div>

    <div>
        <h2 class="header-2">Group&#8758; <b class="header-2" th:text="${group.number}"></b></h2>
    </div>

    <div>
        <ul th:each="student : ${group.students}">
            <li><a th:href="@{/student/{id}(id=${student.id})}" th:text="student.name"></a></li>
        </ul>
    </div>

    <div>
        <ul class="button-list">
            <li class="first-inline-list-element">
                <form class="first-inline-list-element" th:action="@{/group/{id}/edit(id=${group.id})}">
                    <button class="button small-button">Edit</button>
                </form>
            </li>
            <li class="inline-list-element">
                <form class="inline-list-element" th:action="@{/group/{id}/delete(id=${group.id})}">
                    <button class="button small-button">Delete</button>
                </form>
            </li>
        </ul>
    </div>

</div>
</body>
</html>