<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header">
    <div><h1 class="header-text">Information System</h1></div>
    <navbar>
        <ul class="list">
            <li class="inline-list-element"><a href="/group/all">Groups</a></li>
            <li class="inline-list-element"><a href="/student/all">Students</a></li>
        </ul>
    </navbar>
</header>
<div class="container">
    <div th:include="this :: content"></div>
</div>

</body>
</html>